#animbutton0 {
    color: #2c2928;
    background-color: #fff;
    border: 5px solid #fff;
}

#animbutton1 {
    color: #fff;
    background-color: #2c2928;
    border: 5px solid #2c2928;
}

#animbutton2 {
    color: #fff;
    background-color: #2c2928;
    border: 5px solid #2c2928;
}

#animbutton3 {
    color: #fff;
    background-color: #2c2928;
    border: 5px solid #2c2928;
}

#animbutton4 {
    color: #fff;
    background-color: #2c2928;
    border: 5px solid #2c2928;
}

#animbutton5 {
    color: #fff;
    background-color: #2c2928;
    border: 5px solid #2c2928;
}
