#sansbutton6 {
    color: #fff;
    background-color: #2c2928;
    border: 5px solid #2c2928;
}

#sansbutton1 {
    color: #fff;
    background-color: #2c2928;
    border: 5px solid #2c2928;
}

#sansbutton4 {
    color: #fff;
    background-color: #2c2928;
    border: 5px solid #2c2928;
}

#sansbutton3 {
    color: #fff;
    background-color: #2c2928;
    border: 5px solid #2c2928;
}

#sansbutton2 {
    color: #fff;
    background-color: #2c2928;
    border: 5px solid #2c2928;
}

#sansbutton0 {
    color: #fff;
    background-color: #2c2928;
    border: 5px solid #2c2928;
}

#sansbutton5 {
    color: #fff;
    background-color: #2c2928;
    border: 5px solid #2c2928;
}

#sansbutton7 {
    color: #2c2928;
    background-color: #fff;
    border: 5px solid #fff;
}

#sansbutton8 {
    color: #fff;
    background-color: #2c2928;
    border: 5px solid #2c2928;
}

